---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/blocks/Hero.astro";
import BlurBackground from "../components/ui/BlurBackground.astro";
---

<Layout
	title="Get started with Coworking streams"
	description="A guide for new and existing coworking streamers!"
>
	<div class="relative overflow-hidden h-fit min-h-screen">
		<BlurBackground />
		<div class="flex justify-center items-start pb-10">
			<Hero />
		</div>
	</div>
</Layout>
