---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Get started with Coworking streams"
	description="A guide for new and existing coworking streamers!"
>
	<div
		class="flex flex-col lg:flex-row justify-center items-center text-gray-100 sm:flex-col h-fit min-h-screen"
	>
		<div
			class="w-full lg:w-2/3 flex flex-col justify-center items-center mt-40 lg:mt-0 mb-10 lg:mb-0"
		>
			<div
				class="flex flex-col justify-center items-center lg:items-start text-center lg:text-left"
			>
				<p class="text-xl mb-1 mt-24 lg:mt-0">
					How to get started with
				</p>
				<h1 class="text-2xl lg:text-4xl font-bold">
					Coworking Streams
				</h1>
				<p class="text-lg lg:text-xl mt-2">
					For coworking & study streamers on Twitch
				</p>
				<p class="text-lg mt-0 md:hidden">
					Click on the navigation icon on the top right to get
					started!
				</p>
				<p class="text-lg mt-0 hidden md:block">
					Click on the navigation bar above to get started!
				</p>
			</div>
		</div>
		<div
			class="w-full lg:w-1/3 h-full flex flex-col justify-center items-center"
		>
			<a
				href="/widgets#task-list-widget"
				class="preview w-full flex items-center justify-center"
			>
				<div
					class="task-list w-5/6 flex flex-col rounded-md overflow-hidden mb-10 lg:mb-0 border border-solid border-white hover:shadow-gray-200 hover:shadow-lg transition duration-300 ease-in-out"
				>
					<div
						class="task-list-header text-2xl flex flex-row justify-between bg-gray-900 px-5 py-3 rounded-md z-10 border border-solid border-b-white"
					>
						<div id="widget-title" class="font-bold">!taskhelp</div>
						<div>1/65</div>
					</div>
					<div class="task-list-body px-1">
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								RyanPython
							</div>
							<div class="mr-1">:</div>
							<span class="line-through">build this website</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-blue-500"
							>
								MohFocus
							</div>
							<div class="mr-1">:</div>
							<span>resolve merge conflict</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-green-400"
							>
								j3dg
							</div>
							<div class="mr-1">:</div>
							<span>spin class</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								berryspace
							</div>
							<div class="mr-1">:</div>
							<span>setup coworking stream</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-yellow-600"
							>
								CloudyDayzzz
							</div>
							<div class="mr-1">:</div>
							<span>interpret sign language</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-yellow-600"
							>
								pcc_lanezzz
							</div>
							<div class="mr-1">:</div>
							<span>torture Poco</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								lala_xitlali
							</div>
							<div class="mr-1">:</div>
							<span>buy more fabric</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-green-600"
							>
								xeno_hiraeth
							</div>
							<div class="mr-1">:</div>
							<span>diagnose patients</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								opoemperdernida
							</div>
							<div class="mr-1">:</div>
							<span>rutina de la mañana</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-300"
							>
								4l1c3_0
							</div>
							<div class="mr-1">:</div>
							<span>mental breakdance</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-gray-200"
							>
								studywithjojo
							</div>
							<div class="mr-1">:</div>
							<span>get into NHS</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								StudyPaws
							</div>
							<div class="mr-1">:</div>
							<span>identify cow breeds</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-blue-500"
							>
								mikewhatwhere
							</div>
							<div class="mr-1">:</div>
							<span>become a dietician</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-red-500"
							>
								AuspexOneGaming
							</div>
							<div class="mr-1">:</div>
							<span>grade papers</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-red-500"
							>
								BossOnCamera
							</div>
							<div class="mr-1">:</div>
							<span>get into Kyoto University</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								samkitkat
							</div>
							<div class="mr-1">:</div>
							<span>codewars exercises</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-green-300"
							>
								euphie___
							</div>
							<div class="mr-1">:</div>
							<span>be a cinnamon roll</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								charliosaurus
							</div>
							<div class="mr-1">:</div>
							<span>praise the lord Jesus Christ</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-orange-600"
							>
								unknownnie
							</div>
							<div class="mr-1">:</div>
							<span>grow a sprout</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-gray-200"
							>
								imJamJams
							</div>
							<div class="mr-1">:</div>
							<span>feed the mods</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-blue-500"
							>
								itsbrandonut
							</div>
							<div class="mr-1">:</div>
							<span>music stream</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-blue-500"
							>
								nihnesyo
							</div>
							<div class="mr-1">:</div>
							<span>release new Lofi EP</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								warpyn
							</div>
							<div class="mr-1">:</div>
							<span>release new song cover</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-gray-200"
							>
								shadygepril
							</div>
							<div class="mr-1">:</div>
							<span>studying for A-Levels</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-yellow-300"
							>
								Extelso
							</div>
							<div class="mr-1 max-w-[55%]">:</div>
							<span>show off stream layout</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-blue-400"
							>
								Bubxmicn
							</div>
							<div class="mr-1">:</div>
							<span>drive a truck</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								theyolotato
							</div>
							<div class="mr-1">:</div>
							<span>read smut</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-orange-400"
							>
								sneakymoon_
							</div>
							<div class="mr-1">:</div>
							<span>edit YouTube vlogs</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								nanakitchen
							</div>
							<div class="mr-1">:</div>
							<span>annoy sneakymoon_</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-orange-600"
							>
								pinsaregood
							</div>
							<div class="mr-1">:</div>
							<span>be an instagram influencer</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-blue-500"
							>
								wasmishtaken_
							</div>
							<div class="mr-1">:</div>
							<span>simp for levi</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-yellow-300"
							>
								Jutstreams
							</div>
							<div class="mr-1">:</div>
							<span>play geoguessr</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-gray-200"
							>
								GuluTwitch
							</div>
							<div class="mr-1">:</div>
							<span>take care of Gulu</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								j2modest
							</div>
							<div class="mr-1">:</div>
							<span>penetration testing</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-yellow-200"
							>
								nachoburrit0
							</div>
							<div class="mr-1">:</div>
							<span>play Apex for charity</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-yellow-500"
							>
								clarissawrites
							</div>
							<div class="mr-1">:</div>
							<span>10,000 words essay</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-[#aae2cd]"
							>
								PottleLive
							</div>
							<div class="mr-1">:</div>
							<span class="max-w-[75%]"
								>Promote Erudita and protest the french
								government</span
							>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-gray-200"
							>
								long1nteger
							</div>
							<div class="mr-1">:</div>
							<span class="max-w-[65%]"
								>work on the next AI project for self.dev</span
							>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-red-400"
							>
								Elly78456
							</div>
							<div class="mr-1">:</div>
							<span>sell merch</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-yellow-400"
							>
								sunfflawer
							</div>
							<div class="mr-1">:</div>
							<span>be clingy</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-gray-100"
							>
								xhumming
							</div>
							<div class="mr-1">:</div>
							<span>feed Emmy</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-blue-500"
							>
								arcaneXVIII
							</div>
							<div class="mr-1">:</div>
							<span>babysit</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								OOPmarie
							</div>
							<div class="mr-1">:</div>
							<span>React project</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-indigo-400"
							>
								Seijisoldier
							</div>
							<div class="mr-1">:</div>
							<span>Be the tallest in the room</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								StudySmrt
							</div>
							<div class="mr-1">:</div>
							<span>be the youngest in the room</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								anchigaming
							</div>
							<div class="mr-1">:</div>
							<span>love kirby</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-green-500"
							>
								brisim_claimhte
							</div>
							<div class="mr-1">:</div>
							<span>love kiki</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								Chieysse
							</div>
							<div class="mr-1">:</div>
							<span>play Valorant</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-yellow-400"
							>
								lyricalclove
							</div>
							<div class="mr-1">:</div>
							<span>commit arson with Calcifer</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-200"
							>
								hillabunny
							</div>
							<div class="mr-1">:</div>
							<span>play Valorant</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-gray-200"
							>
								StudyStreamKen
							</div>
							<div class="mr-1">:</div>
							<span>be drunk</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[75%] overflow-hidden overflow-ellipsis text-orange-400"
							>
								Supernaturalwriter
							</div>
							<div class="mr-1">:</div>
							<span>be the fittest in the DnD group</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-500"
							>
								KhrowV
							</div>
							<div class="mr-1">:</div>
							<span>caw caw</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-indigo-400"
							>
								michiimiya
							</div>
							<div class="mr-1">:</div>
							<span>be a cult leader</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								Chiichyan
							</div>
							<div class="mr-1">:</div>
							<span>practice piano</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								mindiigo
							</div>
							<div class="mr-1">:</div>
							<span>hit Ascendant in Valorant</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-pink-400"
							>
								RosieDream_
							</div>
							<div class="mr-1">:</div>
							<span>be a lawyer</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-blue-400"
							>
								MemouriArt
							</div>
							<div class="mr-1">:</div>
							<span>design T-shirts</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[75%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								study_with_flowergirl
							</div>
							<div class="mr-1">:</div>
							<span>be a flower</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-blue-400"
							>
								sunnyblue_
							</div>
							<div class="mr-1">:</div>
							<span>mod for Ranboo</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-orange-500"
							>
								SquaredMo
							</div>
							<div class="mr-1">:</div>
							<span>play Valorant deathmatch</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-gray-200"
							>
								triplefattypatty
							</div>
							<div class="mr-1">:</div>
							<span>travel around the world</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-orange-600"
							>
								JettesHus
							</div>
							<div class="mr-1">:</div>
							<span>Furniture restoration</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[55%] overflow-hidden overflow-ellipsis text-blue-400"
							>
								Bli_FlowState
							</div>
							<div class="mr-1">:</div>
							<span>Make productivity youtube videos</span>
						</div>
						<div
							class="flex flex-row justify-start items-start bg-gray-700 px-5 py-2 rounded-md mt-1"
						>
							<div
								class="font-bold max-w-[45%] overflow-hidden overflow-ellipsis text-purple-400"
							>
								wafflesdot025
							</div>
							<div class="mr-1">:</div>
							<span>skip class</span>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</Layout>

<style>
	.task-list {
		font-family: "Poppins", sans-serif;

		height: 500px;
	}

	.task-list-header {
		font-family: "Fredoka", sans-serif;
	}

	/* scroll up and down automatically keyframes*/
	@keyframes scroll {
		0% {
			transform: translateY(0);
		}
		10% {
			transform: translateY(0);
		}
		90% {
			transform: translateY(calc(-100% + 435px));
		}
		100% {
			transform: translateY(calc(-100% + 435px));
		}
	}

	.task-list-header {
		height: 80px;
	}

	.task-list-body {
		animation: scroll 30s linear alternate infinite;
	}

	#widget-title {
		transition: all 1s ease-in-out;
	}

	.fade {
		animation: fade 1s ease-in-out;
	}

	@keyframes fade {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>

<script defer is:inline>
	const taskListTitles = ["Click here!", "!taskhelp"];

	const widgetTitle = document.querySelector("#widget-title");

	let index = 0;

	setInterval(() => {
		widgetTitle.classList.add("fade");
		setTimeout(() => {
			widgetTitle.classList.remove("fade");
		}, 1000);

		widgetTitle.textContent = taskListTitles[index];

		index++;

		if (index === taskListTitles.length) {
			index = 0;
		}
	}, 5000);
</script>
