---
import Layout from "../layouts/Layout.astro";
---

<!-- 
    - timer
        https://github.com/liyunze-coding/streamodoro
        https://github.com/mohamed-tayeh/Minimal-Pomo-Timer
    - task list
        https://github.com/mohamed-tayeh/Task-List

    - other (locale, spotify, etc)
        https://github.com/mohamed-tayeh/forest-overlay
        https://github.com/mohamed-tayeh/locale-overlay
-->
<Layout title="Coworking Overlays">
	<div class="pt-12 w-full h-full flex flex-col">
		<div
			class="w-full h-fit text-white pt-5 pb-5 flex flex-col items-center bg-gray-900"
		>
			<h1 class="font-bold text-4xl">Overlays</h1>
		</div>
		<div
			class="w-full h-full text-white pt-5 flex flex-col items-center justify-center"
		>
			<h1 class="font-bold text-4xl">Task List</h1>
		</div>
	</div>
</Layout>
