---
import Layout from "./Layout.astro";
import VerticalNav from "../components/blocks/verticalNav.astro";
---

<Layout title={Astro.props.title} description={Astro.props.description}>
	<div class="mx-auto px-2 max-w-[1440px]">
		<div class="flex flex-col lg:grid lg:grid-cols-10 gap-5">
			<!-- vertical navbar -->
			<div
				class="lg:col-span-2 lg:px-4"
				transition:name="vertical-navbar"
			>
				<aside
					class="hidden lg:translate-x-0 overflow-y-auto z-30 lg:block lg:sticky py-8 lg:max-h-[calc(100vh-var(--header-height))] lg:top-[--header-height]"
				>
					<VerticalNav />
				</aside>
			</div>
			<div class="lg:col-span-8 pt-8">
				<slot />
			</div>
		</div>
	</div>
</Layout>
