---
import Layout from "./Layout.astro";
import VerticalNav from "../components/blocks/verticalNav.astro";
---

<Layout title={Astro.props.title} description={Astro.props.description}>
	<div class="mx-auto px-6 max-w-7xl">
		<div class="flex flex-col lg:grid lg:grid-cols-10">
			<!-- vertical navbar -->
			<div class="lg:col-span-2" transition:name="vertical-navbar">
				<aside
					class="hidden lg:translate-x-0 overflow-y-auto z-30 lg:block lg:sticky py-8 lg:px-4 lg:-mx-4 lg:max-h-[calc(100vh-var(--header-height))] lg:top-[--header-height]"
				>
					<VerticalNav />
				</aside>
			</div>
			<div class="lg:col-span-8 pt-8">
				<!-- <div class="flex flex-col lg:grid lg:grid-cols-10">
                    <div class="col-span-8 pr-10 pb-10 pt-8">
                        <slot />
                    </div>
                    <div
                        class="col-span-2 pt-8 lg:block lg:sticky lg:px-4 lg:-mx-4 lg:max-h-[calc(100vh-var(--header-height))] lg:top-[--header-height]"
                    >
                        <TableOfContent headings={headings} />
                    </div>
                </div> -->
				<slot />
			</div>
		</div>
	</div>

	<style is:global>
		span.code-highlight {
			@apply rounded-md bg-[#323232] px-1 py-1 font-["Lucida_Console",monospace,courier-new] text-sm;
		}

		code {
			@apply rounded-md bg-[#323232] px-3 py-3;
		}

		/* img {
            @apply h-[100px] max-w-full;
        } */
	</style>
</Layout>
