---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500;700&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav
			class="fixed w-full flex flex-row items-center justify-center pl-4 pr-8 py-2 bg-gray-800 shadow-md shadow-gray-900 h-12"
		>
			<ul class="flex flex-row justify-start items-center list-none">
				<a href="/">
					<li
						class="text-lg text-gray-100 px-3 py-1 mx-3 hover:text-gray-600 hover:bg-gray-100 rounded transition-colors duration-500 ease-in-out"
					>
						Home
					</li>
				</a>
				<a href="/about">
					<li
						class="text-lg text-gray-100 px-3 py-1 mx-3 hover:text-gray-600 hover:bg-gray-100 rounded transition-colors duration-500 ease-in-out"
					>
						About
					</li>
				</a>
				<a href="/specs">
					<li
						class="text-lg text-gray-100 px-3 py-1 mx-3 hover:text-gray-600 hover:bg-gray-100 rounded transition-colors duration-500 ease-in-out"
					>
						Specs
					</li>
				</a>
				<a href="/overlays">
					<li
						class="text-lg text-gray-100 px-3 py-1 mx-3 hover:text-gray-600 hover:bg-gray-100 rounded transition-colors duration-500 ease-in-out"
					>
						Overlays
					</li>
				</a>
			</ul>
		</nav>
		<div class="pt-12 w-full flex flex-col justify-center items-center">
			<div class="w-5/6 md:w-3/4 lg:w-2/3 py-10">
				<slot />
			</div>
		</div>
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: "Montserrat", system-ui, sans-serif;
		color: #fff;
		background-color: #29233f;
	}

	html,
	body {
		min-height: 100%;
	}

	body {
		height: 100vh;
		font-family: "Montserrat", system-ui, sans-serif;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
			monospace;
	}

	nav {
		font-family: "Montserrat", system-ui, sans-serif;
		font-weight: 500;
	}

	nav ul a {
		text-decoration: none;
	}

	summary {
		@apply font-bold text-xl;
	}
</style>
