---
import NavBar from "../components/navBar.astro";
import Layout from "./Layout.astro";

export interface Props {
	frontmatter: {
		title: string;
		description: string;
	};
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
	<div class="pt-12 w-full flex flex-col justify-center items-center">
		<article class="w-5/6 md:w-3/4 lg:w-2/3 py-10">
			<slot />
		</article>
	</div>
</Layout>

<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: "Montserrat", system-ui, sans-serif;
		color: #fff;
		background-color: #29233f;
	}

	html,
	body {
		min-height: 100%;
	}

	body {
		height: 100vh;
		font-family: "Montserrat", system-ui, sans-serif;
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	nav {
		font-family: "Montserrat", system-ui, sans-serif;
		font-weight: 500;
	}

	nav ul a {
		text-decoration: none;
	}

	summary {
		@apply font-bold text-2xl py-2 cursor-pointer;

		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
	}

	details {
		@apply my-4;
	}

	ul li a {
		@apply hover:underline underline-offset-2 hover:text-blue-400;
	}

	.hyperlink {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
			sans-serif;
	}

	ul ul {
		list-style-position: inside;
		padding-left: 1rem;
	}
</style>
