<div
	class="bg-[white] h-[50vh] aspect-video md:aspect-square absolute rounded-full bg-[linear-gradient(to_right,#88D47D,#3F84D8)] animate-[rotate_20s_infinite] opacity-20 md:opacity-80 origin-center left-1/2 top-1/2"
>
</div>
<div
	class="h-full flex-grow w-full absolute backdrop-filter backdrop-blur-[12vmax]"
>
</div>

<style>
	@keyframes rotate {
		from {
			rotate: 0deg;
			translate: -50% -50%;
			scale: 1.5 1;
		}

		50% {
			scale: 1 1.5;
			translate: -50% -50%;
		}

		to {
			rotate: 360deg;
			translate: -50% -50%;
			scale: 1.5 1;
		}
	}
</style>
