<div
	id="background"
	class="bg-[white] h-screen md:h-[50vh] aspect-square absolute rounded-full bg-[linear-gradient(to_right,#88D47D,#3F84D8)] animate-[rotate_20s_infinite] opacity-20 md:opacity-80 origin-center"
>
</div>
<div
	class="h-full flex-grow w-full absolute backdrop-filter backdrop-blur-[12vmax]"
>
</div>

<style>
	#background {
		top: 50%;
		left: 50%;

		translate: -50% -50%;
	}

	@keyframes rotate {
		from {
			transform: rotate(0deg) scale(1.5, 1);
		}

		50% {
			transform: rotate(180deg) scale(1, 1.5);
		}

		to {
			transform: rotate(360deg) scale(1.5, 1);
		}
	}
</style>
