<div class="flex flex-col">
	<div class="text-center text-4xl lg:text-6xl font-bold">
		<span class="text-slate-200">Getting started with</span>
		<div
			id="coworking-streams"
			class="text-transparent animate-gradient py-1 lg:py-3 bg-[length:300%]"
		>
			Coworking streams
		</div>
	</div>
	<div class="mt-2 text-xl text-center">
		Brought to you by <a
			href="https://rython.dev"
			class="text-white underline hover:text-blue-300 transition-colors duration-300"
			>RythonDev</a
		>
	</div>
</div>

<style>
	#coworking-streams {
		background: var(--color-hero-gradient);
		-webkit-background-clip: text;
	}
</style>
